{% extends 'base.html' %}
{% block title_block%}Result24bd | Category |{% endblock %}
{% block body_block %}

<section class="page-header">
        <div class="container-xl">
            <div class="text-center">
                <h1 class="mt-0 mb-2">{{ name }}</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ name }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>

	<!-- section main content -->
	<section class="main-content">
		<div class="container-xl">

			<div class="row gy-4">

				<div class="col-lg-8">

                    <div class="row gy-4">
                      {% for category in categorys %}
                        <div class="col-sm-6">
                            <!-- post -->
                            <div class="post post-grid rounded bordered">
                                <div class="thumb top-rounded">
                                    <a href="" class="category-badge position-absolute">{{ category.category }}</a>
                                    <a href="{% url 'ReadMore' category=category.category slug=category.slug %}">
                                        <div class="inner">
                                            <img src="/media/{{ category.image }}" alt="post-title" />
                                        </div>
                                    </a>
                                </div>
                                <div class="details">
                                    <ul class="meta list-inline mb-0">
                                        <li class="list-inline-item"><a href="#"><img src="/media/images/other/author-sm.png" class="author" alt="author"/>{{ category.user.profile.username }}</a></li>
                                        <li class="list-inline-item">{{ category.created|date:"d M Y" }}</li>
                                    </ul>
                                    <h5 class="post-title mb-3 mt-3"><a href="{% url 'ReadMore' category=category.category slug=category.slug %}">{{ category.title }}{% if user.is_superuser %} <a style="color:red;" href="{% url 'EdidPost' slug=category.slug %}"><i class="far fa-edit"></i></a> {% endif %}</a></h5>
                                    <p class="excerpt mb-0">{{ category.discription|slice:":250"|safe }}</p>
                                </div>
                                <div class="post-bottom clearfix d-flex align-items-center">
                                    <div class="social-share me-auto">
                                        <button class="toggle-button icon-share"></button>
                                        <ul class="icons list-unstyled list-inline mb-0">
                                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="far fa-envelope"></i></a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

					<nav>
          {% if count %}
						{% include 'Post/pagination.html' with page=categorys %}
          {% else %}
            <h1 style="color:grey;padding:50px 50px;"> Nothing here </h1>
          {% endif %}
					</nav>

				</div>
				<div class="col-lg-4">

					<!-- sidebar -->
					<div class="sidebar">
						<!-- Ads Aria -->
						<div class="widget rounded">
							<div class="widget-about data-bg-image text-center" data-bg-image="/media/images/map-bg.png">
                <a href="https://click.daraz.com.bd/e/_66FpX" target="_blank">
								<img src="/media/Ads/300x250.jpg" alt="logo" class="mb-4" />
                </a>
							</div>
						</div>

						<!-- widget popular posts -->
						<div class="widget rounded">
							<div class="widget-header text-center">
								<h3 class="widget-title">Popular Posts</h3>
								<img src="/media/images/wave.svg" class="wave" alt="wave" />
							</div>
							<div class="widget-content">
								<!-- post -->
                {% for popular in populars|slice:":10" %}
								<div class="post post-list-sm circle">
									<div class="thumb circle">
										<a href="{% url 'ReadMore' category=popular.category slug=popular.slug %}">
											<div class="inner">
												<img src="/media/{{ popular.image }}" alt="post-title" />
											</div>
										</a>
									</div>
									<div class="details clearfix">
										<h6 class="post-title my-0"><a href="{% url 'ReadMore' category=popular.category slug=popular.slug %}">{{ popular.title|slice:":60" }} ...</a></h6>
										<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item">{{ popular.created|date:"d M Y" }}</li>
										</ul>
									</div>
								</div>
                {% endfor %}
							</div>
						</div>
            <!-- Ad aria 300x250 -->
            <div class="widget rounded">
							<div class="widget-about data-bg-image text-center" data-bg-image="/media/images/map-bg.png">
                <a href="https://click.daraz.com.bd/e/_66FpX" target="_blank">
								<img src="/media/Ads/300x250.jpg" alt="logo" class="mb-4" />
                </a>
							</div>
						</div>
            <!-- End ad 300x250 -->

						

						<!-- widget newsletter -->
						<div class="widget rounded">
							<div class="widget-header text-center">
								<h3 class="widget-title">Newsletter</h3>
								<img src="/media/images/wave.svg" class="wave" alt="wave" />
							</div>
							<div class="widget-content">
								<span class="newsletter-headline text-center mb-3">Join 70,000 subscribers!</span>
								<form>
									<div class="mb-2">
										<input class="form-control w-100 text-center" placeholder="Email address…" type="email">
									</div>
									<button class="btn btn-default btn-full" type="submit">Sign Up</button>
								</form>
								<span class="newsletter-privacy text-center mt-3">By signing up, you agree to our <a href="#">Privacy Policy</a></span>
							</div>
						</div>

						<!-- widget advertisement -->
						<div class="widget no-container rounded text-md-center">
							<span class="ads-title">- Sponsored Ad -</span>
							 <a href="https://click.daraz.com.bd/e/_66FpX" target="_blank">
								<img src="/media/Ads/300x250.jpg" alt="logo" class="mb-4" />
                                                          </a>
						</div>

						<!-- widget tags -->
						<div class="widget rounded">
							<div class="widget-header text-center">
								<h3 class="widget-title">Tag Clouds</h3>
								<img src="/media/images/wave.svg" class="wave" alt="wave" />
							</div>
							<div class="widget-content">
								<a href="#" class="tag">#Admission</a>
								<a href="#" class="tag">#Result</a>
								<a href="#" class="tag">#Result24bd</a>
								<a href="#" class="tag">#Job</a>
								<a href="#" class="tag">#Islamic</a>
							</div>
						</div>

					</div>

				</div>

			</div>

		</div>
	</section>
{% endblock %}
